/* Media */

#media-browser-tabset{
  .ui-widget-header {
    background: none;
    padding: 0;
    border-radius: 0;
    font-weight: inherit;
  }
}

.fake-submit{
  background-color: $primary;
  color: $white !important;
  border-color: $primary;
}